.timeline {
    min-height: 100vh;
    padding: 120px 8%;
    background-color: #faf9f6; 
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-top: 60px;
    max-width: 800px;
}

.timeline-titulo{
    margin-top: -95px;
}

.timeline-titulo h2 {
    font-size: 5rem;
    color: #d6d29c;
    margin-bottom: 40px;
    font-weight: 700;
}

.timeline-item {
    display: flex;
    gap: 30px;
}

.timeline-ano {
    font-weight: 700;
    font-size: 1.1rem;
    color: #111;
    min-width: 70px;
    padding-top: 3px; 
}

.timeline-conteudo h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #111;
    margin-bottom: 4px;
}

.timeline-conteudo h4 {
    font-size: 0.95rem;
    font-weight: 500;
    color: #777;
    margin-bottom: 12px;
}

.timeline-conteudo p {
    color: #555;
    line-height: 1.6;
    font-size: 1rem;
    margin-bottom: 12px;
}

.tech-badge {
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 600;
    color: #666;
    background-color: #f0eee4; 
    padding: 3px 10px;
    border-radius: 4px;
    margin-right: 6px;
    margin-bottom: 6px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}