*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Lato";
}

body{
  font-weight: 400;
  font-style: normal;
  background:#f8f8f5;
  color:#111;
}

a{
  text-decoration:none;
  color:inherit;
}

ul{
  list-style:none;
}